name: Keep Render Backend Awake

on:
  schedule:
    - cron: "* * * * *"   # Every 1 minute
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Curl ping endpoint
        run: curl -s --retry 3 https://burrowed-magazine-api.onrender.com/api/ping/
